# БД
DB_HOST=localhost
DB_PORT=5433
DB_NAME=mirea_rag
DB_USER=mirea_user
DB_PASSWORD=your_password_here

# SQLAlchemy
DB_DRIVER=postgresql+asyncpg

# LLM / эмбеддинги
OPENROUTER_API_KEY=your_openai_key_here
OPENROUTER_MODEL_NAME=qwen/qwen2.5-vl-72b-instruct
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_TIMEOUT=60.0
OPENROUTER_TEMPERATURE=0.1
SYSTEM_PROMPT_NAME=system_prompt.md
EMBEDDING_MODEL_NAME=baai/bge-m3
EMBEDDING_BASE_URL=https://openrouter.ai/api/v1
EMBEDDING_TIMEOUT=30.0
RAG_TOP_K=5
RAG_MIN_SIMILARITY=0.6
RAG_QA_PROMPT_NAME=qa_prompt.md

# TELEGRAM
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_WELCOME_PROMPT=telegram_welcome.md

# EVAL / METRICS
SYSTEM_VERSION=dev
EVAL_DATASET_NAME=golden_set_v1
EVAL_CONCURRENCY=7
EVAL_RAG_TOP_K=5
EVAL_RAG_MIN_SIMILARITY=0.6

# Можно переопределить модель/температуру для прогона
EVAL_ANSWER_MODEL_NAME=qwen/qwen2.5-vl-72b-instruct
EVAL_ANSWER_TEMPERATURE=0.1
EVAL_ANSWER_SYSTEM_PROMPT_NAME=system_prompt.md

# LLM-as-a-judge (рекомендуется другая модель, чем EVAL_ANSWER_MODEL_NAME)
EVAL_JUDGE_MODEL_NAME=openai/gpt-oss-20b
EVAL_JUDGE_TEMPERATURE=0.0
EVAL_JUDGE_SYSTEM_PROMPT_NAME=judge_system_prompt.md
EVAL_JUDGE_PROMPT_NAME=judge_prompt.md

# Эмбеддинги для метрики "bert_score" (косинусная схожесть эмбеддингов)
EVAL_METRICS_EMBEDDING_MODEL_NAME=qwen/qwen3-embedding-8b
EVAL_METRICS_EMBEDDING_BASE_URL=https://openrouter.ai/api/v1
EVAL_METRICS_EMBEDDING_TIMEOUT=30.0
