version: "3.9"

services:
  db:
    image: pgvector/pgvector:pg16
    container_name: mirea_rag_db 
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - mirea_rag_pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: mirea_rag_app
    env_file:
      - .env 
    environment:
      DB_HOST: db 
      DB_PORT: 5432
    depends_on:
      - db 
    restart: unless-stopped
    
volumes:
  mirea_rag_pgdata:
